<template name="post_detail">
<!--    {{#if isDesktopOrTablet}}

    <div class="row">
        <div class="col-md-2 text-center">
            <a class="btn btn-default" href="{{previousUrl}}" {{b "if:previousUrl"}}>
                <i class="fa fa-arrow-left fa-5"></i>
            </a>
        </div>
        <div class="col-md-8 text-center">
            <div class="fb-post" data-href="{{fb_postUrl}}" data-width="800"></div>
        </div>
        <div class="col-md-2 text-center">
            <a class="btn btn-default" href="{{nextUrl}}" {{b "if:nextUrl"}}>
                <i class="fa fa-arrow-right fa-5"></i>
            </a>
        </div>
    </div>
    {{else}}
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                <a class="btn btn-default" href="{{previousUrl}}" {{b "if:previousUrl"}}>
                    <i class="fa fa-arrow-left fa-5"></i>
                </a>

                <a class="btn btn-default" href="{{nextUrl}}" {{b "if:nextUrl"}}>
                    <i class="fa fa-arrow-right fa-5"></i>
                </a>
            </div>
        </div>
        <div class="col-sx-12">
            {{#if fb_post}}
                <textarea style="color: black" cols="30" rows="40" disabled class="form-control">{{fb_post}}</textarea>
            {{else}}
                <div class="text-center">
                    <i class="fa fa-spinner fa-pulse"></i>
                </div>
            {{/if}}
        </div>
        <div class="col-xs-12">
            <div class="text-center">
                <a class="btn btn-default" href="{{previousUrl}}" {{b "if:previousUrl"}}>
                    <i class="fa fa-arrow-left fa-5"></i>
                </a>

                <a class="btn btn-default" href="{{nextUrl}}" {{b "if:nextUrl"}}>
                    <i class="fa fa-arrow-right fa-5"></i>
                </a>
            </div>
        </div>
    </div>
    {{/if}}-->
    {{#if fb_postContent}}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2 text-center">
                <a class="btn btn-default" href="{{previousUrl}}" {{b "if:previousUrl"}}>
                    <i class="fa fa-arrow-left fa-5"></i>
                </a>
                <a class="btn btn-default hidden-md hidden-lg" href="{{nextUrl}}" {{b "if:nextUrl"}}>
                    <i class="fa fa-arrow-right fa-5"></i>
                </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8">
                <div class="well text-left">
                    {{{convertToHtml fb_postContent.message}}}
                    <p style="background-color: black">
                        <a href="{{fb_postUrl}}" target="_blank"><img src="{{fb_postContent.full_picture}}" class="img-responsive img-center" alt="" style="max-height:491px;"/></a>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 text-center">
                <a class="btn btn-default hidden-md hidden-lg" href="{{previousUrl}}" {{b "if:previousUrl"}}>
                    <i class="fa fa-arrow-left fa-5"></i>
                </a>
                <a class="btn btn-default" href="{{nextUrl}}" {{b "if:nextUrl"}}>
                    <i class="fa fa-arrow-right fa-5"></i>
                </a>
            </div>
        </div>
    {{else}}
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">
                    <i class="fa fa-spinner fa-pulse"></i>
                </h3>
            </div>
        </div>
    {{/if}}
</template>