<template name="post_detail">
    {{#if fb_postContent}}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-8 col-lg-offset-2">
                <p class="text-center hidden-xs hidden-sm" id="nav_post">
                    {{> nav_control}}
                </p>
                <p class="text-center hidden-md hidden-lg">
                    {{> nav_control}}
                </p>
                <div class="well text-left">
                    {{{convertToHtml fb_postContent.message}}}
                    <p style="background-color: black">
                        <a href="{{fb_postUrl}}" target="_blank">
                            <img src="{{fb_postContent.full_picture}}" class="img-responsive img-center" alt="" style="max-height:491px;"/>
                        </a>
                    </p>
                </div>
                {{#with fb_postComments}}
                    {{> post_comments}}
                {{/with}}
                <p class="text-center hidden-md hidden-lg">
                    {{> nav_control}}
                </p>
            </div>
        </div>
    {{else}}
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">
                    <i class="fa fa-spinner fa-pulse"></i>
                </h3>
            </div>
        </div>
    {{/if}}
</template>

<template name="nav_control">
    <a class="btn btn-primary" {{b "enable:parent.previousUrl,attr:{href : parent.previousUrl}"}}>
        <i class="fa fa-arrow-left fa-5"></i>
    </a>
    <a class="btn btn-primary" {{b "enable:parent.nextUrl, attr :{href : parent.nextUrl}"}}>
        <i class="fa fa-arrow-right fa-5"></i>
    </a>
</template>

<template name="post_comments">
    <div class="panel panel-default" {{b "if:comments.count"}}>
        <div class="panel-heading">
            <i class="fa fa-comments-o"></i>
            Bình luận
            <span {{b "if :comments.count, text : '(' + comments.count + ')' "}}></span>
        </div>
        <div class="panel-body" style="padding: 5px !important;">
            <div class="">
                <table class="table table-hover">
                    <tbody>
                    {{#each comments.items}}
                        {{> post_comment_item}}
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<template name="post_comment_item">
    <tr>
        <td style="padding: 5px !important;">
            <p class="comment_item">
                <b {{b "text : this.from.name"}}></b> &nbsp; <span class="label label-default pull-right">{{humanDate this.created_time}}</span>
            </p>
            <p class="comment_item" {{b "text : this.message"}}></p>
        </td>
    </tr>
</template>